<li class="nav-item">
    <a class="nav-link btn" href="@Url.Action("Index","ShoppingCart")" id="cart-status">
        سلّة التسوق
        <span class="badge bg-info rounded-pill">@ViewData["CartCount"]</span>
    </a>
</li>