@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "me-auto" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav mb-2 mb-lg-0">
    @{Html.RenderAction("CartSummary", "ShoppingCart");}
    <li class="nav-item">
        @Html.ActionLink("مرحباً " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "إدارة", @class = "nav-link" })
    </li>
    <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">تسجيل الخروج</a></li>
</ul>
    }
}
else
{
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @{Html.RenderAction("CartSummary", "ShoppingCart");}
    <li class="nav-item">@Html.ActionLink("تسجيل جديد", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li class="nav-item">@Html.ActionLink("تسجيل دخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
}
